* {
    background-image: none;
    font-family: "JetBrains Mono Nerd Font", sans-serif;
}

window {
    background-color: rgba(10, 26, 63, 0.9);
    border: 2px solid #ffffff;
    border-radius: 8px;
}

button {
    color: #ffffff;
    background-color: #1a2a5f;
    border: 1px solid #d0d0ff;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    margin: 5px;
}

button:focus, button:active, button:hover {
    background-color: #4a5aaf;
    color: #ffff80;
    border: 1px solid #ffffff;
    outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
